<h1>Editing trip package</h1>

<%= render "form", trip_package: @trip_package %>

<br>

<div>
  <%= link_to "Show this trip package", @trip_package %> |
  <%= link_to "Back to trip packages", trip_packages_path %>
</div>
